<nav>
    <ul class="nav">
        {{#foreach navigation}}
        <li class="nav-item nav-{{slug}} {{#if current}} nav-current{{/if}}"><a href="{{url}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
</nav>